<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset ="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="author" content="Clara Chen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Hello Testing</title>
    <!-- core CSS -->
      <link href="../public/css/bootstrap.min.css" rel="stylesheet">
      <link href="../public/css/font-awesome.min.css" rel="stylesheet">
      <link href="../public/css/animate.min.css" rel="stylesheet">
      <link href="../public/css/prettyPhoto.css" rel="stylesheet">
      <link href="../public/css/main.css" rel="stylesheet">
      <link href="../public/css/responsive.css" rel="stylesheet">

    <!--[if it IE 9]>
      <script src="..public/js/controllers_others/html5shiv.js"></script>
      <script src="..public/js/controllers_others/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="homepage">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>
                        +014150000000</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                        <div class="mainmenu pull-right">
                            <ul class="nav navbar-nav collapase navbar-collapse"><a href="#">Login</a></ul>
                            <ul class="nav navbar-nav collapase navbar-collapse"><a href="#">Register</a></ul>
                            <div class="social pull-right">
                                <ul class="social-share">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!--/.container-->
        </div><!--/.top-bar -->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapase">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../public/images/logo.png" alt="logo"></a>
                </div>

                <div class="search">
                    <form role="form">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        <i class="fa fa-search"></i>
                    </form>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <h1>Hello Testing</h1>
    <p>Welcome to Hello Testing</p>
    <p>Hello Testing Site is under construction. </p>

    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a custom quote?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#conatcat-info-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->


    <footer id="footer" class="midnigt-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy;2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter BootStrap WordPress Theme and HTML Templates"> ShapeBootstrap</a>.All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pul-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a hre="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer> <!--/.#footer-->

    <!-- /#wrapper -->

    <!-- Modules -->

    <!-- Controllers -->
    <!-- Javascript files loading **START** -->
    <script src="../public/js/controllers_others/bootstrap.min.js"></script>
    <script src="../public/js/controllers_others/jquery.prettyPhoto.js"></script>
    <script src="../public/js/controllers_others/jquery.isotope.min.js"></script>
    <script src="../public/js/controllers_others/main.js"></script>
    <script src="../public/js/controllers_others/wow.min.js"></script>
    <!-- FORM VALIDATION ENGINE -->

    <!-- JQuery -->
    <script src="../public/js/controllers_others/jquery.js"></script>
    <!-- Javascript Files loading **END** -->

  </body>
</html>

